.BreadCrum{
    height: 250px;
    width: 90%;
    margin: 0px 5%;
    margin-top: 90px;
    border: 1px solid  #00D0E7;
    border-radius: 8px;
    background-color: yellow;
    background-image: url(../../asserts/contactbg.svg);
   
}
.BreadCrum .overlay0 p{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #00D0E7;
    font-size: 44px;
    font-weight: 700;
     margin: 0%;
    padding: 0%;
}
.overlay0{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 8px;
    box-shadow: 0px 0px 15px #00D0E7;
}