.area-16{
    display: flex;
    height: 350px;
    width: 100%;
    /* background-color: purple; */
    border-bottom: 4px solid dimgray;
}

.area16-left{
    height: 300px;
    width: 30%;
    margin: 0%;
    padding: 0%;
    /* background-color: palevioletred; */
    display: flex;
    flex-direction: column;
    
    
}
.area16-left img{
    height: 40px;
    object-fit: contain;
    margin-top: 35px;
    margin-right: 110px;
}
.area16-left p{
    display: flex;
    color: #fff;
    font-size: 18px;
    margin-left: 30px;
    /* background-color: yellow;
    */
}

.images-16 ul{
    display: flex; 
    margin: 0%;
    list-style: none; 
    /* background-color: yellow; */
}

.images-16 ul li img{
    height: 30px;
    margin: 10px;
    padding: 0%;
}

.center-16{
    height: 300px;
    width: 20%;
    /* background-color: brown; */
    list-style: none;
    /* display: flex; */
    /* flex-direction: column; */
     margin-left: 20px;
     /* background-color: yellow; */
 
}
.center-16 p{
    color: #00D0E7;
    font-size: 24px;
    font-weight: 600;
}
.center-16 ul{
    text-align: left;
    color: #fff;
    list-style: none;
    margin: 0%;
    padding: 0%;    
}
.center-16 ul li {
   padding: 5px;
   font-size: 18px;
  
}
.right-16{
    height: 350px;
    width: 30%;
    /* background-color: cadetblue; */
    margin: 0%;
    padding: 0%;
    /* background-color: yellow; */
}
.right-16 .heading{
    color: #00D0E7;
    font-size: 24px;
    font-weight: 600;
 
}
.right-16 .email{
    color: #fff;
    font-size: 24px;
}
.same-line{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
    margin: 0%;

}
.right-16 input{
    padding: 10px;
    width: 50%;
    border-radius: 8px;
    border: 3px solid #00D0E7;
    background-color: transparent;
    
}

.right-16 .button4{
    padding: 6px 5px;
    width: 20%;
    background-color: #00D0E7;
    border-radius: 8px;
    font-size: 18px;
}

.icons-16 {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;

}

.icons-16 ul span:first-child{ 
    font-size: 20px;
    color: #00D0E7;

}

.icons-16 ul li{
    display: flex;
    gap: 4px;
    align-items: center;  
    margin: 0%;
    padding: 0%;
}

.icons-16 ul{
    list-style: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin: 0%;
    padding: 0%;
   
}
.mail, .location, .call{
    color: #00D0E7;
    
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    /* background-color: blue; */

}
.footer p{
    font-size: 14px;
    color: #00D0E7;
}

@media(max-width: 970px){
    .area-16{ 
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    margin: 0%;
    padding: 0%;
}
.area16-left{
    height: fit-content;
    width: 100%;
    /* background-color: rebeccapurple; */
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: left;
}
.area16-left img{
    justify-content: left;
    margin-top: 20px;
    margin-left: 5px;
    padding: 0%;
}
.center-16{
    height: fit-content;
     width: calc(100% - 20px);
    padding-left: 10px;
    margin: 0%;

}
.right-16{
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    padding-left: 10px;
    margin: 0%;
    

}
.footer{
    height: fit-content;
    width: 100%;
   /* background-color: gold; */
   padding: 0%;
   margin: 0%;
    
}
.footer p{
     display: flex;
    justify-content: center;
    font-size: 14px;
    

}


}
